header{
  background-color: red;
  height: 50px;

}

.logo{

  width: 180px;
  position: absolute;
  margin-left: -90px;
  left: 50%;
  top: 15px;
}

main{
margin-top: 110px;
margin-bottom: 50px;
}

main h2{
  font-size: 1.2rem;
  font-weight: bold;
  background: rgb(255, 255, 255);
  line-height: 48px;
  padding-left: 58px;
}

main h2 span{
background: url('../../icons/categoriaIcon.png');
background-repeat: no-repeat;
background-size: 100%;
width: 48px;
height: 48px;
position: absolute;
margin-left: -52px;
}

.card{
  margin-bottom: 10px;
}



footer{

  background-color: red;
  height: 55px;


}